html, body  {
    height: 100%;
    width: 100%; 
    background-color: #FBFBFB; 
}

    
/****Title****/

#title {
    position: fixed;
    z-index: 101;
    width: 100%;
    background-color: #97AEBD;
}

#title h1 {
    position: relative;
    margin-top: 0px;
    text-align: center;
    color: white;
    float:left;
    padding-left:6px;
    padding-top:4px;
} 

/****Encapsulatron****/
.container {
    position: relative;
    top: 130px;  
    height: 1000px;
    width: 100%;    
    background-color: inherit;
}

.container .col-sm-8 {
    position: relative;
}

.container .col-sm-8 h3 {

    color:white;
}

.container .col-sm-4 {
    position: relative;
    background-color: #D8E1E6;
    border-left: 1px dashed #97AEBD;   
}

/****Header****/

.header {
    background-color: #5A798C ;
    margin-left:-15px;
}

.header h3 {
    padding:4px;  
    padding-left:15px;
    text-transform: capitalize;
}